<div class="board-container">
    <div class="main-board-area">
        <section class="header-section">
            <h1>Board: {{ id() }} Name: {{ thisBoard()?.name }}</h1>
            <button
                class="users-btn"
                (click)="openUserDetails()"
                (closeUserDetailsEvent)="closeUserDetails()"
            >
                👥
            </button>
            <button
                class="activity-btn"
                (click)="openActivityDetails()"
                (closeActivityDetailsEvent)="closeActivityDetails()"
            >
                ℹ️
            </button>
        </section>
        <section class="columns-section">
            <div class="columns-grid" cdkDropListGroup>
                @for (column of columns(); track column.id) {
                    <app-column
                        [thisColumn]="column"
                        [canEdit]="canEdit()"
                        (openCreateTaskModal)="openCreateTaskModal($event)"
                        (deleteRequest)="deleteColumn($event)"
                        (clickedTileEvent)="openTaskDetails($event)"
                        (editRequest)="editColumn($event)"
                    />
                }
                @if (canEdit()) {
                    <button
                        class="create-column-btn"
                        id="create-column-btn"
                        (click)="openCreateColumnModal()"
                    >
                        +
                    </button>
                }
            </div>
        </section>
    </div>
    @if (isTaskDetailsOpen()) {
        <app-task-details
            [taskId]="lastClickedTaskId()"
            (closeTaskDetailsEvent)="closeTaskDetails()"
            [canEdit]="canEdit()"
            (editTaskEvent)="onEditTask($event)"
            (deleteTaskEvent)="onDeleteTask($event)"
        />
    }
    @if (isActivityDetailsOpen()) {
        <app-activity-logs />
    }
    @if (isUsersDetailsOpen()) {
        <app-user-details
            [thisUserRole]="thisUserRole()"
            (closeUserDetailsEvent)="closeUserDetails()"
        />
    }
</div>
@if (isCreateColumnModalOpen()) {
    <app-column-form-modal
        [boardId]="thisBoard()?.id!"
        (closeModal)="closeCreateColumnModal()"
        [columnToEditId]="columnToEditId()"
    />
}
@if (isCreateTaskModalOpen()) {
    <app-task-form-modal
        [columnId]="createTaskColumnId()"
        (closeModal)="closeCreateTaskModal()"
        [task]="editTask()"
    />
}
@if (isAddUserModalOpen()) {
    <app-user-form-modal />
}
