<div class="column-container">
    <section class="name-section">
        <h3 class="name-header">{{ thisColumn().name }}</h3>
    </section>
    @if (canEdit()) {
        <button class="delete-btn" (click)="onDeleteColumn($event)">🗑️</button>
    }
    <section class="tasks-section">
        <div
            class="tasks-tiles"
            cdkDropList
            [cdkDropListData]="tasks()"
            (cdkDropListDropped)="onTaskDrop($event)"
        >
            @if (canEdit()) {
                <button class="create-task-btn" (click)="onCreateTask()">+</button>
            }
            @for (task of tasks(); track task.id) {
                <app-task-tile
                    cdkDrag
                    [cdkDragData]="task"
                    [thisTask]="task"
                    [canEdit]="canEdit()"
                    (tileClick)="onClickedTile($event)"
                />
            }
        </div>
    </section>
</div>
